@mixin generate-class($namespace, $props-map) {
  @each $prop, $prop-map in $props-map {
    @each $name, $value-map in $prop-map {
      .__dd-#{$namespace}-#{$prop}-#{$name} {
        @each $key, $value in $value-map {
          #{$key}: $value;
        }
      }
    }
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin trans-all() {
  transition: all 0.2s ease-in;
}
