@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
}

.shake-animation {
    animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2;
}
