// 文件全局引入mixin
@use "mixins/mixin" as *;

$props-map: (
  type: (
    default: (
      color: var(--main-deep),
      background-color: var(--main-flat),
    ),
    primary: (
      color: var(--bas-nagative),
      background-color: var(--main-primary),
    ),
    secondary: (
      color: var(--bas-nagative),
      background-color: var(--sub-primary),
    ),
    warning: (
      color: var(--main-primary),
      background-color: var(--main-contrast),
    ),
    info: (
      color: var(--bas-nagative),
      background-color: var(--main-deep),
    ),
  ),
  size: (
    small: (
      font-size: 24px,
      padding: 10px,
      border-radius: 5px,
    ),
    medium: (
      font-size: 26px,
      padding: 10px 20px,
      border-radius: 10px,
    ),
    large: (
      font-size: 32px,
      padding: 20px,
      border-radius: 20px,
    ),
  ),
);

$text-map: (
  default: (
    color: var(--main-deep),
  ),
  primary: (
    color: var(--main-primary),
  ),
  secondary: (
    color: var(--sub-primary),
  ),
  warning: (
    color: var(--main-contrast),
  ),
  info: (
    color: var(--bas-positive),
  ),
);

.__dd-button {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

@include generate-class("button", $props-map);

.__dd-button-text {
  border: none;
  background-color: var(--transparent);
}

.__dd-button-circle {
  border-radius: 50%;
}

.__dd-button-block {
  display: block;
}

.__dd-button-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.__dd-button-disabled {
  color: var(--sub-primary);
  background-color: var(--sub-flat);
  cursor: not-allowed;
  pointer-events: none;
}

@each $name, $value-map in $text-map {
  .__dd-button-text.__dd-button-type-#{$name} {
    @each $key, $value in map-get($text-map, $name) {
      #{$key}: $value;
    }
  }
}
