// 文件全局引入mixin
@use "mixins/mixin" as *;

$props-map: (
  type: (
    default: (
      color: "main-deep",
      background-color: "main-flat",
    ),
    primary: (
      color: "bas-nagative",
      background-color: "main-primary",
    ),
    secondary: (
      color: "bas-nagative",
      background-color: "sub-primary",
    ),
    warning: (
      color: "main-primary",
      background-color: "main-contrast",
    ),
    info: (
      color: "bas-nagative",
      background-color: "main-deep",
    ),
  ),
  text: (
    default: (
      color: "main-deep",
    ),
    primary: (
      color: "main-primary",
    ),
    secondary: (
      color: "sub-primary",
    ),
    warning: (
      color: "main-contrast",
    ),
    info: (
      color: "bas-positive",
    ),
  ),
);

.__dd-button {
  font-weight: 700;
  font-size: 26px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

@each $name, $value-map in map-get($map: $props-map, $key: "type") {
  .__dd-button-type-#{$name} {
    @each $key, $value in $value-map {
      #{$key}: var(--#{$value});
    }
  }
}

.__dd-button-text {
  border: none;
  background-color: var(--transparent);
}

@each $name, $value-map in map-get($props-map, "type") {
  .__dd-button-text.__dd-button-type-#{$name} {
    @each $key, $value in map-get(map-get($props-map, "text"), $name) {
      #{$key}: var(--#{$value});
    }
  }
}
