@use "mixins/mixin" as *;

$props-map: (
  size: (
    small: (
      font-size: 24px,
      padding: 10px,
      border-radius: 5px,
    ),
    medium: (
      font-size: 26px,
      padding: 0px 15px,
    ),
    large: (
      font-size: 32px,
      padding: 20px,
      border-radius: 20px,
    ),
  ),
);

.__dd-input-container {
  font-weight: 700;
  display: inline-block;
  border-radius: 20px;
  background-color: var(--sub-flat);
  padding: 10px;
}

.__dd-input-placeholder {
  color: var(--sub-primary);
}

.__dd-input-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.__dd-input-border {
  border: 4px solid var(--main-primary);
}

@include generate-class("input", $props-map);
