.__dada-switcher-area {
  background-color: var(--main-deep);
  border-radius: 16px;
  width: 630px;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.__dada-switcher-tag-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.__dada-switcher-item {
  width: 300px;
  height: 60px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;

  &.first::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--main-primary);
    position: absolute;
    z-index: 0;
    transform: translateX(calc(var(--index)*100% + var(--index)*10px));
    transition: all 0.3s ease-in-out;
  }
}

.__dada-switcher-tag-item {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-right: 20px;
  background-color: var(--bas-nagative);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &.selected {
    background-color: var(--main-deep);
    color: var(--bas-nagative);
  }
}

.__dada-switcher-text {
  font-size: 26px;
  font-weight: 700;
  z-index: 1;
  position: relative;
  color: var(--bas-nagative);
}

.__dada-switcher-tag-text {
  width: 96px;
  height: 29px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  position: relative;
}