// 文件全局引入mixin
@use "mixins/mixin" as *;

$props-map: (
  type: (
    default: (
      color: var(--main-deep),
      background-color: var(--main-flat),
    ),
    primary: (
      color: var(--bas-nagative),
      background-color: var(--main-primary),
    ),
    secondary: (
      color: var(--bas-nagative),
      background-color: var(--sub-primary),
    ),
    warning: (
      color: var(--main-primary),
      background-color: var(--main-contrast),
    ),
    info: (
      color: var(--bas-nagative),
      background-color: var(--main-deep),
    ),
  ),
  size: (
    small: (
      font-size: 24px,
      padding: 10px,
      border-radius: 10px,
    ),
    medium: (
      font-size: 26px,
      padding: 10px 20px,
      border-radius: 10px,
    ),
    large: (
      font-size: 32px,
      padding: 20px,
      border-radius: 10px,
    ),
  ),
);

.__dd-tag {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

@include generate-class("tag", $props-map);
