.__dd-toast {
  max-width: 630px;
  min-width: 200px;
  min-height: 200px;
  background-color: var(--bas-nagative);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 26px;
  font-weight: 700;
  color: var(--main-deep);
  overflow: hidden;
}
.__dd-toast-icon {
  width: 100px;
  height: 100px;
  font-size: 100px;
  font-weight: normal;
}

.__dd-toast-content {
  padding: 0 20px 20px 20px;
  line-height: 40px;
  max-height: 60vh;
  overflow-y: auto;
}

.__dd-toast-icon-loading {
  animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
